# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Bomberman.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Documents\Unity Projects\Bomberman\.idea\.idea.Bomberman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
